<!doctype html>
<head>
    <title>Upload a file</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
</head>
<body>
    <h1>Upload a file</h1>
    <form method=post enctype=multipart/form-data>
      <input type=file name=file id="file_input">
      <input type=submit value=Upload>
    </form>
    <!-- <div id="progress_wrapper" class="d-none"> -->
    <!--   <label id="progress_status"></label> -->
    <!--   <div class="progress mb-3"> -->
    <!--     <div id="progress" class="progress-bar" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div> -->
    <!--   </div> -->
    <!-- </div> -->
</body>
<!-- <script> -->
<!--     const input = document.getElementById("file_input"); -->
<!-- </script> -->
